{% extends 'base.html' %}
{% block title %}Home page{% endblock %}

{% block content %}
<section>
    <style>
            .container {
                max-width: 800px;
                color:white;
                margin-left: 300px;
                border: #444140;
                padding: 50px;
                border-radius: 10%;
                text-align:center;
            }
            h2{
                font-size:30px;
            }
            input{
                padding:5px;
            }
      
    </style>
        <div class="container">
            <h2>User Registration Form</h2>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p}}
            </form>
        </div>

    </section>
    {% endblock %}